.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout > * {
  flex-grow: 0;
}

.layout__header {
  background-color: white;
}

.layout__content {
  flex-grow: 1 !important;
}
