.queue-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: var(--base-unit);
  min-width: 0;
  padding: calc(var(--base-unit) / 4) calc(var(--base-unit) / 2);
}

.queue-item__body {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.queue-item__name {
  font-size: 1rem;
  font-weight: bold;
  line-height: var(--base-unit);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.queue-item__details {
  font-size: 0.875rem;
}

.queue-item__actions {
  flex-shrink: 0;
}

.queue-item__button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.queue-item__icon {
  font-size: 2rem;
  vertical-align: bottom;
}
