.tray {
  background-color: white;
  border-bottom: none;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border: 1px solid #007bff;
  bottom: calc(var(--base-unit) * -2);
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  filter: brightness(0.5);
  opacity: 0.5;
  height: calc(var(--base-unit) * 2);
  position: fixed;
  right: var(--base-unit);
  transition-duration: var(--transition-duration);
  transition-property: height, bottom, filter, opacity;
  width: calc(var(--base-unit) * 20);
  z-index: 1;
}

.tray--is-open {
  bottom: 0;
  height: calc(var(--base-unit) * 10);
  filter: initial;
  opacity: initial;
}

.tray__header {
  position: relative;
}

.tray__title {
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: var(--base-unit);
  padding: calc(var(--base-unit) / 4) calc(var(--base-unit) / 2);
}

.tray__header {
  position: relative;
}

.tray__handle {
  background-color: transparent;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border: none;
  cursor: n-resize;
  display: block;
  height: calc(var(--base-unit) * 1.5);
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tray--is-open .tray__handle {
  cursor: s-resize;
}

.tray__body {
  flex-grow: 1;
  overflow-y: auto;
}
