<section class="section">
    <h1 class="title is-spaced">Files</h1>

    <h2 class="subtitle">Uploaded files</h2>

    <div class="content">
        <ul>
            {{#each uploadFiles}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <h2 class="subtitle">Downloadable files</h2>

    <div class="content">
        <ul>
            {{#each downloadFiles}}
                <li>
                    <a href="/download?filename={{this.encoded}}" download>
                        {{this.name}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</section>
