<section class="section">
    <h1 class="title">
        Files
    </h1>

    <div class="content">
        <ul>
            {{#each files}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</section>
