<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Simple Authentication App</a>
</nav>

<div style="margin-top: 30px">
    <form method="POST" action="/logout">
        {{#unless signedIn}}
            <a class="btn btn-primary btn-lg active" href="/login">Login</a>
            <a class="btn btn-primary btn-lg active" href="/register">Register</a>
        {{/unless}}
        {{#if signedIn}}
            <button class="btn btn-primary btn-lg active" type="submit">
                Logout
            </button>
        {{/if}}
    </form>
</div>
