{{#if message}}
    <div class="{{messageClass}}" role="alert">
        {{message}}
    </div>
{{/if}}

<section class="section">
    <h1 class="title">Login</h1>

    <form method="POST" action="/login">
        <div class="field">
            <label class="label" for="exampleInputEmail1">Email address</label>
            <div class="control">
                <input name="email" type="email" class="input" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <p class="help">Please enter your email.</p>
        </div>
        <div class="">
            <label class="label" for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="input" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="mt-4">
            <button type="submit" class="button is-primary">Login</button>
        </div>
    </form>
</section>
