<section class="section">
    <h1 class="title">Login</h1>

    {{#if message}}
        <div class="{{messageClass}}" role="alert">
            {{message}}
        </div>
    {{/if}}

    <form method="POST" action="/login">
        <div class="field">
            <label class="label" for="exampleInputEmail1">Email address</label>
            <div class="control">
                <input name="email" type="email" class="input" id="exampleInputEmail1" placeholder="Enter email">
            </div>
        </div>
        <div class="field">
            <label class="label" for="exampleInputPassword1">Password</label>
            <div class="control">
                <input name="password" type="password" class="input" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <button type="submit" class="button is-primary">Login</button>
        </div>
    </form>
</section>
