<section class="section">
    <h1 class="title">Upload files</h1>

    {{#if message}}
        <div class="{{messageClass}}" role="alert">
            {{message}}
        </div>
    {{/if}}

    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="file">
            <label class="file-label">
                <input class="file-input" type="file" name="files"
                    id="file-input" accept="video/*,audio/*">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose files…
                    </span>
                </span>
            </label>
        </div>
    </form>

    <div id="progress-bar-container">
    </div>
</section>
