.Activities {
    border-top-left-radius: 0.75rem;
    bottom: 0;
    min-width: 25%;
    opacity: 0.75;
    padding: 1.5rem;
    position: fixed;
    right: 0;
    text-align: right;
    transition: bottom 0.125s;
}

.Activities.is-small {
    bottom: -3rem;
}
